<div>

    <h2>Trainers</h2>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="trainer.new">
                    <span class="glyphicon glyphicon-flash"></span> <span>Create a new Trainer</span>
                </button>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteTrainerConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(trainer.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete this Trainer?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span>Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>TrainerId</th>
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>Address</th>
                    <th>Phone</th>
                    <th>user</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="trainer in trainers">
                    <td><a ui-sref="trainer.detail({id:trainer.id})">{{trainer.id}}</a></td>
                    <td>{{trainer.trainerId}}</td>
                    <td>{{trainer.firstName}}</td>
                    <td>{{trainer.lastName}}</td>
                    <td>{{trainer.address}}</td>
                    <td>{{trainer.phone}}</td>
                    <td>{{trainer.user.id}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="trainer.detail({id:trainer.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="trainer.edit({id:trainer.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(trainer.id)"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
