<div class="page page-forms-elements">

    <ol class="breadcrumb breadcrumb-small">
        <li>Admin Functions</li>
        <li class="active"><a ui-sref="trainers">Create Trainer</a></li>
    </ol>


    <div class="page-wrap">

        <!-- row -->
        <div class="row">

            <!-- col-left -->
            <div class="col-xs-12">
                <div class="panel panel-primary panel-hovered panel-stacked mb20">
                    <div class="panel-heading">Personal Info</div>
                    <div class="panel-body">
                        <form role="form" id="createTrainerForm" name="createTrainerForm" class="form-horizontal" ng-submit="createTrainer($event)"> <!-- form horizontal acts as a row -->
                            <!-- Name control -->
                            <div class="form-group">
                                <label class="col-md-3 control-label">First Name</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" ng-required="true" ng-model="userdetails.firstName">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Last Name</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" ng-required="true" ng-model="userdetails.lastName">
                                </div>
                            </div>
                            <!-- email control -->
                            <div class="form-group">
                                <label class="col-md-3 control-label">Address</label>
                                <div class="col-md-9">
                                    <div class="input-group">
                                        <span class="input-group-addon ion ion-home"></span>
                                        <input type="address" class="form-control" placeholder="Address" ng-required="true" ng-model="trainer.address">
                                    </div>
                                </div>
                            </div>
                            <!-- email control -->
                            <div class="form-group">
                                <label class="col-md-3 control-label">Email</label>
                                <div class="col-md-9">
                                    <div class="input-group">
                                        <span class="input-group-addon ion ion-email"></span>
                                        <input type="email" class="form-control" placeholder="Email Address" ng-required="true" ng-model="userdetails.email">
                                    </div>
                                </div>
                            </div>
                            <!-- confirm email control -->
                            <div class="form-group">
                                <label class="col-md-3 control-label">Confirm Email</label>
                                <div class="col-md-9">
                                    <div class="input-group">
                                        <span class="input-group-addon ion ion-email"></span>
                                        <input type="email" class="form-control" placeholder="Email Address" ng-required="true" ng-model="emailConfirm">
                                    </div>
                                </div>
                            </div>
                            <!-- confirm email control -->
                            <div class="form-group">
                                <label class="col-md-3 control-label">Phone</label>
                                <div class="col-md-9">
                                    <div class="input-group">
                                        <span class="input-group-addon ion ion-ios-telephone"></span>
                                        <input type="number" class="form-control" string-to-number placeholder="Phone Number" ng-required="true" ng-model="trainer.phone">
                                    </div>
                                </div>
                            </div>
                <div class="panel panel-default panel-hovered panel-stacked mb20">
                    <div class="panel-heading">Account Info</div>
                    <div class="panel-body">
                        <!--<div role="form" class="form-horizontal"> &lt;!&ndash; form horizontal acts as a row &ndash;&gt;-->
                            <!-- Name control -->
                            <div class="form-group">
                                <label class="col-md-3 control-label">Login</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" ng-required="true" ng-model="userdetails.login">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Account Level</label>
                                <div class="col-md-9">
                                    <select class="form-control" disabled name="mySelect" id="mySelect"
                                            ng-options="option.name for option in data.availableOptions track by option.id"
                                            ng-model="data.selectedOption"></select>
                                </div>
                            </div>
                            <div class="clearfix right">
                                <button class="btn btn-primary mr5" type="submit">Submit</button>
                                <button class="btn btn-default" ng-click="clear()" type="reset">Cancel</button>
                            </div>
                        </div>
                    </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>

        <div class="modal fade" id="responseModal">
            <div class="modal-dialog">
                <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                    ng-click="clear()">&times;</button>
                            <h4 class="modal-title" id="modalTitle" style="font-weight: bold;">{{modalTitle}}</h4>
                        </div>
                        <div class="modal-body" id="modalMessage">
                            <p>{{modalMessage</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                                <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Ok</span>
                            </button>
                        </div>
                </div>
            </div>
        </div>


    </div> <!-- #end page-wrap -->
</div>
