<div class="page page-forms-elements" ng-cloak>

<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myTrainerLabel">Edit Trainer</h4><h2>{{trainer.firstName}} {{trainer.lastName}}</h2>
    </div>
    <div class="modal-body">
        <div class="form-group mt30">
            <label>ID</label>
            <input type="text" class="form-control" name="id"
                    ng-model="trainer.id" readonly>
        </div>

        <div class="form-group mt30">
            <label for="field_firstName">FirstName</label>
            <input type="text" class="form-control" name="firstName" id="field_firstName"
                    ng-model="trainer.firstName" required>

            <div ng-show="editForm.firstName.$invalid">
                <p class="help-block"
                    ng-show="editForm.firstName.$error.required">
                    This field is required.
                </p>
            </div>
            <div ng-show="editForm.email.$invalid">
                <p class="help-block"
                   ng-show="editForm.email.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group mt30">
            <label for="field_lastName">LastName</label>
            <input type="text" class="form-control" name="lastName" id="field_lastName"
                    ng-model="trainer.lastName" required>

            <div ng-show="editForm.lastName.$invalid">
                <p class="help-block"
                    ng-show="editForm.lastName.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group mt30">
            <label for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email"
                   ng-model="trainer.user.email" required>

        </div>
        <div class="form-group mt30">
            <label for="field_address">Address</label>
            <input type="text" class="form-control" name="address" id="field_address"
                    ng-model="trainer.address">

        </div>
        <div class="form-group mt30">
            <label for="field_phone">Phone</label>
            <input type="number" string-to-number class="form-control" name="phone" id="field_phone"
                    ng-model="trainer.phone" required min="10">

            <div ng-show="editForm.phone.$invalid">
                <p class="help-block"
                    ng-show="editForm.phone.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.phone.$error.min" translate-value-min="10">
                    This field should be more than 10.
                </p>
                <p class="help-block"
                    ng-show="editForm.phone.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
    </div>
