<div class="page page-forms-elements" ng-cloak>

    <div class="panel panel-primary panel-hovered mb30">


        <div class="panel-heading">Assign Services</div>

        <div class="container col-xs-12 mb20">
            <div class="row mt20">

                <!-- col-left -->
                <!-- tabs style -->
                <tabset class="tabs-flip">
                    <tab heading="Available Services">
                        <div class="clearfix">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>Service</th>
                                        <th>Category</th>
                                        <th>Cost</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="service in availableServices">

                                        <td>{{service.name}}</td>
                                        <td ng-if="service.serviceCategory.name">{{service.serviceCategory.name}}</td>
                                        <td ng-if="service.service.serviceCategory.name">{{service.service.serviceCategory.name}}</td>
                                        <td>
                                            <label for="{{service.id}}">$</label>
                                            <input type="number" id="{{service.id}}" ng-model="service.cost">
                                        </td>
                                        <td>
                                            <button type="submit"
                                                    ng-click="addService(service.id, service.cost)"
                                                    class="btn btn-success btn-sm mt5">
                                                <span class="fa fa-plus"></span>&nbsp;<span> Add Service</span>
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </tab>
                    <tab heading="Your Services" active="fliptwo.active">
                        <div class="clearfix">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>Service</th>
                                        <th>Category</th>
                                        <th>Cost</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="service in trainer.trainerService">
                                        <td>{{service.name}}</td>
                                        <td ng-if="service.serviceCategory.name">{{service.serviceCategory.name}}</td>
                                        <td ng-if="service.service.serviceCategory.name">{{service.service.serviceCategory.name}}</td>
                                        <td>${{service.cost}}</td>
                                        <td>
                                            <button type="submit"
                                                    ng-click="removeService(service.id)"
                                                    class="btn btn-danger btn-sm mt5">
                                                <span class="fa fa-trash"></span>&nbsp;<span> Delete</span>
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </tab>
                <!--<div class="col-sm-12 text-center mb20"><h3>{{trainer.firstName}} {{trainer.lastName}}</h3></div>-->
                <!---->
                <!--<div class="col-xs-12 col-sm-5">-->
                    <!--<div class="list-group" id="list1">-->
                            <!--<span class="list-group-item active">Available Services-->
                                <!--<input title="Toggle all" ng-click="toggleA()" ng-model="toggleAAll" value="{{toggleAAll}}" type="checkbox" class="pull-right">-->
                            <!--</span>-->
                            <!--<span ng-repeat="service in availableServices">-->
                                <!--<span class="list-group-item">{{service.name}} - {{service.serviceCategory.name}}-->
                                    <!--<span class="pull-right"><label for="{{service.id}}">Cost:</label> <input type="number" value="" id="{{service.id}}" class="pull-right"></span>-->

                                <!--</span>-->
                            <!--</span>-->
                    <!--</div>-->
                <!--</div>-->
                <!--&lt;!&ndash;<div class="col-xs-12 col-sm-2 v-center text-center mb20">&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="btn-group">&ndash;&gt;-->
                        <!--&lt;!&ndash;<button title="Send to list 1" class="btn btn-default" ng-click="bToA()"><i class="ion ion-chevron-left"></i></button>&ndash;&gt;-->
                        <!--&lt;!&ndash;<button title="Send to list 2" class="btn btn-default" ng-click="aToB()"><i class="ion ion-chevron-right"></i></button>&ndash;&gt;-->

                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--<div class="col-xs-12 col-sm-5">-->
                    <!--<div class="list-group" id="list2">-->
                            <!--<span class="list-group-item active">Current Services-->
                                <!--<input title="Toggle all" ng-click="toggleB()" ng-model="toggleBAll" value="{{toggleBAll}}" type="checkbox" class="pull-right">-->
                            <!--</span>-->
                <!--<span ng-repeat="service in trainer.trainerService">-->
                  <!--<span class="list-group-item">-->
                        <!--{{service.name}} - {{service.serviceCategory.name}}-->
                      <!--<input ng-click="selectB(service.id)" name="selectedB[]" value="{{service.id}}" ng-checked="selectedB.indexOf(service.id) > -1" type="checkbox" class="pull-right">-->
                  <!--</span>-->
                <!--</span>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
            <div class="row">
                <div class="col-xs-12 text-center">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ui-sref="trainer.services({id:trainer.id})">
                        <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
                    </button>
                    <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary" ng-click="saveTrainerServices($event)">
                        <span class="fa fa-save"></span>&nbsp;<span>Save</span>
                    </button>
                </div>
            <!--</div>-->
        </div>
    </div>
    <div class="modal fade" id="responseModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                            ng-click="clear()">&times;</button>
                    <h4 class="modal-title" id="modalTitle" style="font-weight: bold;">{{modalTitle}}</h4>
                </div>
                <div class="modal-body" id="modalMessage">
                    <p>{{modalMessage</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Ok</span>
                    </button>
                </div>
            </div>
        </div>
    </div>


</div>
