<div class="page page-forms-elements" ng-cloak>

    <div class="page-wrap">

        <div class="col-xs-12">
            <div class="panel panel-primary panel-hovered panel-stacked mb20">
                <div class="panel-heading">{{trainer.firstName}} {{trainer.lastName}}'s Services</div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Service Name</th>
                                <th>Category</th>
                                <th>Cost</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="service in trainer.trainerService">
                                <td>{{service.name}}</td>
                                <td>{{service.service.serviceCategory.name}}</td>
                                <td>${{service.cost}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                <button type="submit"
                        ui-sref="trainer.trainers"
                        class="btn btn-info ml20 mt20 mb20" ng-click="clear()">
                    <span class="fa fa-chevron-left"></span>&nbsp;<span> Back</span>
                </button>
            </div>
        </div>
    </div>
</div>
