
<div class="page page-forms-elements" ng-cloak>
    {{allClients}}
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="clear()">&times;</button>
        <h2><span>Client</span></h2><h3 style="font-style: italic;">{{client.firstName}} {{client.lastName}}</h3>

    </div>
    <div class="modal-body">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Field</th>
                    <th>Value</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <span>FirstName</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{client.firstName}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>LastName</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{client.lastName}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Login</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{client.user.login}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Email</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{client.user.email}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Address</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{client.address}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Phone</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{client.phone}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Horses</span>
                    </td>
                    <td>
                        <ul class="list-unstyled">
                            <li>
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Breed</th>
                                            <th>USEF</th>
                                        </tr>
                                    </thead>
                                    <tbody >
                                        <tr ng-repeat="horse in client.horses">
                                            <td>{{horse.name}}</td>
                                            <td>{{horse.breed}}</td>
                                            <td>{{horse.usef}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </li>
                        </ul>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>

    </div>
    <button type="submit"
            class="btn btn-info" data-dismiss="modal" ng-click="clear()">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>
