<div class="page page-forms-elements">

    <ol class="breadcrumb breadcrumb-small">
        <li>Trainers</li>
        <li class="active"><a ui-sref="trainer.trainers">All Trainers</a></li>
    </ol>


    <div class="page-wrap">

        <div class="col-xs-12">
            <div class="panel panel-primary panel-hovered panel-stacked mb20">
                <div class="panel-heading">Trainer List</div>
                    <div class="clearfix">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Login</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="trainer in trainers">
                                    <td>{{trainer.user.login}}</td>
                                    <td>{{trainer.firstName}}</td>
                                    <td>{{trainer.lastName}}</td>
                                    <td>{{trainer.user.email}}</td>
                                    <td>{{trainer.phone}}</td>
                                    <td>
                                        <button type="submit"
                                                ui-sref="trainer.editclients({id:trainer.id})"
                                                class="btn btn-primary btn-sm mt5">
                                            <span class="ion ion-edit"></span>&nbsp;<span> Clients</span>
                                        </button>
                                        <button type="submit"
                                                ui-sref="trainer.services({id:trainer.id})"
                                                class="btn btn-info btn-sm mt5">
                                            <span class="ion ion-grid"></span>&nbsp;<span> Services</span>
                                        </button>
                                        <button type="submit"
                                                ui-sref="trainer.invoices({id:trainer.id})"
                                                class="btn btn-primary btn-sm mt5">
                                            <span class="ion ion-ios-paper"></span>&nbsp;<span> Invoices</span>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
        </div>

        <div class="modal fade" id="deleteClientConfirmation">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form name="deleteForm" ng-submit="confirmDeleteClient(client.id)">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                    ng-click="clear()">&times;</button>
                            <h4 class="modal-title">Confirm delete operation</h4>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure you want to delete this Client?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                                <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
                            </button>
                            <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                                <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span>Delete</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="deleteTrainerConfirmation">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form name="deleteForm" ng-submit="confirmDeleteTrainer(trainer.id)">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                    ng-click="clear()">&times;</button>
                            <h4 class="modal-title">Confirm delete operation</h4>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure you want to delete this Trainer?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                                <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
                            </button>
                            <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                                <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span>Delete</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal fade" id="deleteAdminConfirmation">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form name="deleteForm" ng-submit="confirmDeleteAdmin(admin.id)">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                    ng-click="clear()">&times;</button>
                            <h4 class="modal-title">Confirm delete operation</h4>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure you want to delete this Client?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                                <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
                            </button>
                            <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                                <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span>Delete</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div> <!-- #end page-wrap -->

</div>
