<div class="page page-forms-elements" ng-cloak>

    <div class="panel panel-primary panel-hovered mb30">


        <div class="panel-heading">Edit Trainer Clients</div>

            <div class="container col-xs-12 mb20">
                <div class="row">
                    <div class="col-md-12 text-center mb20"><h3>{{trainer.firstName}} {{trainer.lastName}}</h3></div>
                    <div class="col-xs-12 col-sm-5">
                        <div class="list-group" id="list1">
                            <span class="list-group-item active">Available Clients
                                <input title="Toggle all" ng-click="toggleA()" ng-model="toggleAAll" value="{{toggleAAll}}" type="checkbox" class="pull-right">
                            </span>
                            <span ng-repeat="user in availableClients">
                                <span class="list-group-item">
                                  <a class="font-style:italic;" ng-click="openClientDetailsModal(user.id)"><i class="ion ion-information-circled"></i></a>
                                    {{user.firstName}} {{user.lastName}}
                                    <input ng-click="selectA(user.id)" name="selectedA[]" value="{{user.id}}" ng-checked="(selectedA.indexOf(user.id) > -1)" type="checkbox" class="pull-right">
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-2 v-center text-center mb20">
                        <div class="btn-group">
                            <button title="Send to list 1" class="btn btn-default" ng-click="bToA()"><i class="ion ion-chevron-left"></i></button>
                            <button title="Send to list 2" class="btn btn-default" ng-click="aToB()"><i class="ion ion-chevron-right"></i></button>

                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-5">
                        <div class="list-group" id="list2">
                            <span class="list-group-item active">Current Clients
                                <input title="Toggle all" ng-click="toggleB()" ng-model="toggleBAll" value="{{toggleBAll}}" type="checkbox" class="pull-right">
                            </span>
                <span ng-repeat="user in trainer.client">
                  <span class="list-group-item">
                      <a class="font-style:italic;" ng-click="openClientDetailsModal(user.id)"><i class="ion ion-information-circled"></i></a>
                        {{user.firstName}} {{user.lastName}}
                      <input ng-click="selectB(user.id)" name="selectedB[]" value="{{user.id}}" ng-checked="selectedB.indexOf(user.id) > -1" type="checkbox" class="pull-right">
                  </span>
                </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-xs-offset-4 col-md-offset-5">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ui-sref="home">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary" ng-click="saveTrainer($event)">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
                        </button>
                    </div>
                </div>
             </div>
    </div>
    <div class="modal fade" id="responseModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                            ng-click="clear()">&times;</button>
                    <h4 class="modal-title" id="modalTitle" style="font-weight: bold;">{{modalTitle}}</h4>
                </div>
                <div class="modal-body" id="modalMessage">
                    <p>{{modalMessage</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Ok</span>
                    </button>
                </div>
            </div>
        </div>
    </div>


</div>
