
<div class="page page-forms-elements" ng-cloak>

    <div class="modal-header">
        <button type="button" class="close" ui-sref="accountmanagement" data-dismiss="modal" aria-hidden="true" ng-click="clear()">&times;</button>
        <h2><span>Trainer</span></h2><h3 style="font-style: italic;">{{trainer.firstName}} {{trainer.lastName}}</h3>

    </div>
    <div class="modal-body">
        <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Field</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <span>FirstName</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{trainer.firstName}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>LastName</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{trainer.lastName}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Login</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{trainer.user.login}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Email</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{trainer.user.email}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Address</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{trainer.address}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Phone</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{trainer.phone}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Clients</span>
                    </td>
                    <td>
                        <ul class="list-unstyled">
                            <li ng-repeat="client in trainer.client" >
                                <input type="text" class="input-sm form-control" ui-sref="client.detail({id:client.id})" data-dismiss="modal" ng-click="clear()" value="{{client.firstName}} {{client.lastName}}">
                            </li>
                        </ul>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>

    </div>
    <button type="submit"
            ui-sref="accountmanagement"
            class="btn btn-info" data-dismiss="modal" ng-click="clear()">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>
