
<div class="page page-forms-elements" ng-cloak>

    <div class="modal-header">
        <button type="button" class="close" ui-sref="accountmanagement" data-dismiss="modal" aria-hidden="true" ng-click="clear()">&times;</button>
        <h2><span>Admin</span></h2><h3 style="font-style: italic;">{{client.firstName}} {{client.lastName}}</h3>

    </div>
    <div class="modal-body">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Field</th>
                    <th>Value</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <span>FirstName</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{client.firstName}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>LastName</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{client.lastName}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Login</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{client.login}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Email</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{client.email}}" readonly>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>

    </div>
    <button type="submit"
            ui-sref="accountmanagement"
            class="btn btn-info" data-dismiss="modal" ng-click="clear()">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>
