<div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1>Activation</h1>

            <form class="form" role="form" ng-submit="activate($event)">
                <div class="form-group">
                    <label for="email">Email Address</label>
                    <input type="email" class="form-control" id="email" ng-required="true" placeholder="Confirm Email" ng-model="email">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" ng-required="true" placeholder="Create Password" ng-model="password">
                </div>
                <div class="form-group">
                    <label for="passwordConfirm">Confirm Password</label>
                    <input type="password" class="form-control" id="passwordConfirm" ng-required="true" placeholder="Confirm Password"
                           ng-model="passwordConfirm">
                </div>
                <button type="submit" class="btn btn-primary">Activate</button>
            </form>

            <div class="row mt20">
                <div class="alert alert-success" ng-show="success">
                    <strong>Your user has been activated.</strong> To access the portal login here: <a ui-sref="login">Login</a>
                </div>

                <div class="alert alert-danger" ng-show="error">
                    <strong>{{errorMessage}}</strong>
                </div>
            </div>

        </div>
    </div>
</div>
