
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myHorseLabel">Create or edit a Horse</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label>ID</label>
            <input type="text" class="form-control" name="id"
                    ng-model="horse.id" readonly>
        </div>

        <div class="form-group">
            <label for="field_horseId">HorseId</label>
            <input type="number" class="form-control" name="horseId" id="field_horseId"
                    ng-model="horse.horseId" required>

            <div ng-show="editForm.horseId.$invalid">
                <p class="help-block"
                    ng-show="editForm.horseId.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.horseId.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="horse.name" required>

            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label for="field_breed">Breed</label>
            <input type="text" class="form-control" name="breed" id="field_breed"
                    ng-model="horse.breed">

        </div>

        <div class="form-group">
            <label for="field_client">client</label>
            <select class="form-control" id="field_client" multiple name="client" ng-model="horse.clients" ng-options="client as client.clientId for client in clients track by client.id">
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
