
<div>
    <h2><span>Horse</span> {{horse.id}}</h2>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Field</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <span>HorseId</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{horse.horseId}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Name</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{horse.name}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Breed</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{horse.breed}}" readonly>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            ui-sref="horse"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>
