
<div>
    <h2><span>CustomService</span> {{customService.id}}</h2>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Field</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <span>Name</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{customService.name}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Cost</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{customService.cost}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>trainer</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{customService.trainer.id}}" readonly>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            ui-sref="customService"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>
