<div class="page page-forms-elements">

    <ol class="breadcrumb breadcrumb-small">
        <li>Admin Functions</li>
        <li class="active"><a ui-sref="trainers">Account Management</a></li>
    </ol>


    <div class="page-wrap">

        <!-- row -->
        <div class="row">

            <!-- col-left -->
            <!-- tabs style -->
            <tabset class="tabs-flip">
                <tab heading="Clients">
                    <div class="clearfix">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>id</th>
                                    <th>Login</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="client in clients">
                                    <td><a ui-sref="client.detail({id:client.id})">{{client.id}}</a></td>
                                    <td>{{client.user.login}}</td>
                                    <td>{{client.firstName}}</td>
                                    <td>{{client.lastName}}</td>
                                    <td>{{client.user.email}}</td>
                                    <td>{{client.phone}}</td>
                                    <td>
                                        <button type="submit"
                                                ui-sref="client.detail({id:client.id})"
                                                class="btn btn-info btn-sm mt5">
                                            <span class="fa fa-eye"></span>&nbsp;<span> View</span>
                                        </button>
                                        <button type="submit"
                                                ui-sref="client.edit({id:client.id})"
                                                class="btn btn-primary btn-sm mt5">
                                            <span class="fa fa-edit"></span>&nbsp;<span> Edit</span>
                                        </button>
                                        <button type="submit"
                                                ng-click="deleteClient(client.id)"
                                                class="btn btn-danger btn-sm mt5">
                                            <span class="fa fa-trash"></span>&nbsp;<span> Delete</span>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </tab>
                <tab heading="Trainers" active="fliptwo.active">
                <div class="clearfix">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>id</th>
                                <th>Login</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="trainer in trainers">
                                <td><a ui-sref="trainer.detail({id:trainer.id})">{{trainer.id}}</a></td>
                                <td>{{trainer.user.login}}</td>
                                <td>{{trainer.firstName}}</td>
                                <td>{{trainer.lastName}}</td>
                                <td>{{trainer.user.email}}</td>
                                <td>{{trainer.phone}}</td>
                                <td>
                                    <button type="submit"
                                            ui-sref="trainer.detail({id:trainer.id})"
                                            class="btn btn-info btn-sm mt5">
                                        <span class="fa fa-eye"></span>&nbsp;<span> View</span>
                                    </button>
                                    <button type="submit"
                                            ui-sref="trainer.edit({id:trainer.id})"
                                            class="btn btn-primary btn-sm mt5">
                                        <span class="fa fa-edit"></span>&nbsp;<span> Edit</span>
                                    </button>
                                    <button type="submit"
                                            ng-click="deleteTrainer(trainer.id)"
                                            class="btn btn-danger btn-sm mt5">
                                        <span class="fa fa-trash"></span>&nbsp;<span> Delete</span>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </tab>
                <tab heading="Admins" active="flipthree.active">
                    <div class="clearfix">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>id</th>
                                    <th>Login</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <!--<th>Address</th>-->
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="admin in admins">
                                    <td><a ui-sref="admin.detail({id:admin.id})">{{admin.id}}</a></td>
                                    <td>{{admin.login}}</td>
                                    <td>{{admin.firstName}}</td>
                                    <td>{{admin.lastName}}</td>
                                    <td>{{admin.email}}</td>
                                    <td>
                                        <button type="submit"
                                                ui-sref="admin.detail({id:admin.id})"
                                                class="btn btn-info btn-sm mt5">
                                            <span class="fa fa-eye"></span>&nbsp;<span> View</span>
                                        </button>
                                        <button type="submit"
                                                ui-sref="admin.edit({id:admin.id})"
                                                class="btn btn-primary btn-sm mt5">
                                            <span class="fa fa-edit"></span>&nbsp;<span> Edit</span>
                                        </button>
                                        <button type="submit"
                                                ng-click="deleteAdmin(admin.login)"
                                                class="btn btn-danger btn-sm mt5">
                                            <span class="fa fa-trash"></span>&nbsp;<span> Delete</span>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </tab>
            </tabset>
        </div>

        <div class="modal fade" id="deleteClientConfirmation">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form name="deleteForm" ng-submit="confirmDeleteClient(client.id)">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                    ng-click="clear()">&times;</button>
                            <h4 class="modal-title">Confirm delete operation</h4>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure you want to delete this Client?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                                <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
                            </button>
                            <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                                <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span>Delete</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

         <div class="modal fade" id="deleteTrainerConfirmation">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <form name="deleteForm" ng-submit="confirmDeleteTrainer(trainer.id)">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                            ng-click="clear()">&times;</button>
                                    <h4 class="modal-title">Confirm delete operation</h4>
                                </div>
                                <div class="modal-body">
                                    <p>Are you sure you want to delete this Trainer?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                                        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
                                    </button>
                                    <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                                        <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span>Delete</span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
            </div>
        <div class="modal fade" id="deleteAdminConfirmation">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form name="deleteForm" ng-submit="confirmDeleteAdmin(admin.id)">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                    ng-click="clear()">&times;</button>
                            <h4 class="modal-title">Confirm delete operation</h4>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure you want to delete this Client?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                                <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
                            </button>
                            <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                                <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span>Delete</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div> <!-- #end page-wrap -->

</div>
