<div class="page page-forms-elements">

    <ol class="breadcrumb breadcrumb-small">
        <li>Services</li>
        <li class="active"><a ui-sref="service">Services</a></li>
    </ol>


    <div class="page-wrap">

        <div class="col-xs-12">
            <div class="panel panel-primary panel-hovered panel-stacked mb20">
                    <div class="panel-heading">Trainer Services</div>
                    <div class="mt20" style="padding-left: 20px;">
                        <div class="row">
                            <div class="col-md-4">
                                <button class="btn btn-success" ui-sref="service.new">
                                    <span class="glyphicon glyphicon-flash"></span> <span>New Service</span>
                                </button>
                            </div>
                        </div>
                    </div>
                <div class="clearfix">
                    <div class="table-responsive mt20">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Category</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="service in services">
                                <td><a ui-sref="service.detail({id:service.id})">{{service.id}}</a></td>
                                <td>{{service.name}}</td>
                                <td>{{service.serviceCategory.name}}</td>
                                <td>
                                    <!--<button type="submit"-->
                                            <!--ui-sref="service.detail({id:service.id})"-->
                                            <!--class="btn btn-info btn-sm">-->
                                        <!--<span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span> View</span>-->
                                    <!--</button>-->
                                    <button type="submit"
                                            ui-sref="service.edit({id:service.id})"
                                            class="btn btn-primary btn-sm">
                                        <span class="fa fa-edit"></span>&nbsp;<span> Edit</span>
                                    </button>
                                    <button type="submit"
                                            ng-click="delete(service.id)"
                                            class="btn btn-danger btn-sm">
                                        <span class="fa fa-trash"></span>&nbsp;<span> Delete</span>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
        <div class="modal fade" id="deleteServiceConfirmation">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form name="deleteForm" ng-submit="confirmDelete(service.id)">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                    ng-click="clear()">&times;</button>
                            <h4 class="modal-title">Confirm delete operation</h4>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure you want to delete this Service?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                                <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
                            </button>
                            <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                                <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span>Delete</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div> <!-- #end page-wrap -->

</div>
