<div class="page page-forms-elements">

    <ol class="breadcrumb breadcrumb-small">
        <li>Services</li>
        <li class="active"><a ui-sref="service">Services</a></li>
    </ol>


    <div class="page-wrap">
        <div class="col-xs-12">
            <div class="panel panel-primary panel-hovered panel-stacked mb20">
                <div class="panel-heading"><h4>{{service.serviceCategory.name}}</h4>{{service.name}}</div>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Field</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <span>Name</span>
                            </td>
                            <td>
                                <input type="text" class="input-sm form-control" value="{{service.name}}" readonly>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span>Category</span>
                            </td>
                            <td>
                                <input type="text" class="input-sm form-control" value="{{service.serviceCategory.name}}" readonly>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <button type="submit"
                    ui-sref="service"
                    class="btn btn-info ml20 mt20 mb20">
                <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
            </button>
        </div>
        </div>
    </div>
</div>
