<aside class="nav-wrap" ng-class="{'nav-expand': navFull, 'nav-offcanvas': navOffCanvas}"
       id="site-nav" custom-scrollbar ng-cloak="">
    <div class="nav-head">
        <!-- site logo -->
        <a class="navbar-brand" rel="home" href="#" title="Buy Sell Rent Everyting" ng-hide="!navFull">
            <img style="max-width:140px; margin-top: -12px;"
                 src="assets/images/final-logo-white.png">
        </a>
        <a href="#/dashboard" class="site-logo text-uppercase" ng-hide="navFull">
            <i class="fa fa-bomb"></i>
        </a>
    </div>


    <!-- Site nav (vertical) -->

    <nav class="site-nav clearfix" role="navigation">
        <div class="profile clearfix mb15">
            <img src="assets/images/blueperson.png" alt="admin">
            <div class="group">
                <h5 class="name">{{account.firstName}}</h5>
                <small class="desig text-uppercase">{{role}}</small>
            </div>
        </div>
        <ul class="list-unstyled clearfix nav-list mb15" collapse-nav-accordion highlight-active>
            <li ui-sref-active="active">
                <a ui-sref="home" md-ink-ripple>
                    <i class="ion ion-monitor"></i>
                    <span class="text">Dashboard</span>
                </a>
            </li>
        </ul> <!-- #end navigation -->

        <!-- BEGIN ADMIN NAV FUNCTIONS -->
        <div class="text-center clearfix" has-role="ROLE_ADMIN" style="border-bottom: 1px solid #b7b7b7; color: #797979;">
            <!--<img src="assets/images/blueperson.png" alt="admin">-->
            <div class="group">
                <h5 class="name">Admin</h5>
            </div>
        </div>
        <ul class="list-unstyled clearfix nav-list" has-role="ROLE_ADMIN" collapse-nav-accordion highlight-active >
            <li>
                <a href="javascript:;" md-ink-ripple>
                    <i class="ion ion-ios-locked"></i>
                    <span class="text">Accounts</span>
                    <i class="arrow ion-chevron-left"></i>
                </a>
                <ul class="inner-drop list-unstyled" style="padding-left: -40px;">
                    <li ng-class="{ active: $state.includes('trainer')}"><a ui-sref="trainer" md-ink-ripple>Create Trainer</a></li>
                    <li ng-class="{ active: $state.includes('client')}"><a ui-sref="client" md-ink-ripple>Create Client</a></li>
                    <li ng-class="{ active: $state.includes('createadmin')}"><a ui-sref="createadmin" md-ink-ripple>Create Admin</a></li>
                    <li ng-class="{ active: $state.includes('accountmanagement')}"><a ui-sref="accountmanagement" md-ink-ripple>Account Management</a></li>

                </ul>
            </li>
        </ul>
        <ul class="list-unstyled clearfix nav-list" has-role="ROLE_ADMIN" collapse-nav-accordion highlight-active >
            <li>
                <a href="javascript:;" md-ink-ripple>
                    <i class="ion ion-person-stalker"></i>
                    <span class="text">Trainers</span>
                    <i class="arrow ion-chevron-left"></i>
                </a>
                <ul class="inner-drop list-unstyled" style="padding-left: -40px;">
                    <li ng-class="{ active: $state.includes('all_trainers')}"><a ui-sref="trainer.trainers" md-ink-ripple>All Trainers</a></li>
                </ul>
            </li>
        </ul>
        <ul class="list-unstyled clearfix nav-list" has-role="ROLE_ADMIN" collapse-nav-accordion highlight-active >
            <li>
                <a href="javascript:;" md-ink-ripple>
                    <i class="ion ion-grid"></i>
                    <span class="text">Services</span>
                    <i class="arrow ion-chevron-left"></i>
                </a>
                <ul class="inner-drop list-unstyled" style="padding-left: -40px;">
                    <li ng-class="{ active: $state.includes('services')}"><a ui-sref="service" md-ink-ripple>Services</a></li>
                </ul>
            </li>
        </ul>
        <ul class="list-unstyled clearfix nav-list" has-any-role="ROLE_ADMIN" collapse-nav-accordion highlight-active >
            <li>
                <a href="javascript:;" md-ink-ripple>
                    <i class="ion ion-ios-paper"></i>
                    <span class="text">Invoices</span>
                    <i class="arrow ion-chevron-left"></i>
                </a>
                <ul class="inner-drop list-unstyled" style="padding-left: -40px;">
                    <li ng-class="{ active: $state.includes('invoices/recent')}"><a ui-sref="newinvoices" md-ink-ripple>View New</a></li>
                    <li ng-class="{ active: $state.includes('invoices/unpaid')}"><a ui-sref="unpaidinvoices" md-ink-ripple>View Unpaid</a></li>
                    <li ng-class="{ active: $state.includes('invoices/pay')}"><a ui-sref="readyforpayment" md-ink-ripple>Ready To Pay</a></li>
                </ul>
            </li>
        </ul>


        <div class="text-center clearfix" has-role="ROLE_TRAINER" style="border-bottom: 1px solid #b7b7b7; color: #797979;">
            <div class="group">
                <h5 class="name" md-ink-ripple>Trainer</h5>
            </div>
        </div>
        <ul class="list-unstyled clearfix nav-list" has-role="ROLE_TRAINER" collapse-nav-accordion highlight-active >
            <ul class="list-unstyled clearfix nav-list mb15" collapse-nav-accordion highlight-active>
                <li ui-sref-active="active">
                    <a ui-sref="trainer.editmyclients" md-ink-ripple>
                        <i class="ion ion-person-stalker"></i>
                        <span ng-class="{ active: $state.includes('editmyclients')}" class="text">My Clients</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="trainer.myservices" md-ink-ripple>
                        <i class="ion ion-grid"></i>
                        <span ng-class="{ active: $state.includes('myservices')}" class="text">My Services</span>
                    </a>
                </li>
                <ul class="list-unstyled clearfix nav-list" has-any-role="ROLE_TRAINER" collapse-nav-accordion highlight-active >
                    <li>
                        <a href="javascript:;" md-ink-ripple>
                            <i class="ion ion-ios-paper"></i>
                            <span class="text">My Invoices</span>
                            <i class="arrow ion-chevron-left"></i>
                        </a>
                        <ul class="inner-drop list-unstyled" style="padding-left: -40px;">
                            <li ng-class="{ active: $state.includes('invoices/newinvoice')}"><a ui-sref="newinvoice" md-ink-ripple>Create New</a></li>
                            <li ng-class="{ active: $state.includes('invoices/myinvoices')}"><a ui-sref="myinvoices" md-ink-ripple>View All</a></li>
                            <li ng-class="{ active: $state.includes('invoices/myunpaid')}"><a ui-sref="myunpaidinvoices" md-ink-ripple>View Unpaid</a></li>
                            <li ng-class="{ active: $state.includes('invoices/mypaid')}"><a ui-sref="mypaidinvoices" md-ink-ripple>View Paid</a></li>
                        </ul>
                    </li>
                </ul>
            </ul>
        </ul>
    </nav>


    <!-- nav-foot -->
    <footer class="nav-foot">
        <p>2015 &copy; <span>Bombproof Billing</span></p>
    </footer>
</aside>

