
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/"><span>jhipster</span> <span class="navbar-version">v{{VERSION}}</span></a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse" ng-switch="isAuthenticated()">
                <ul class="nav navbar-nav nav-pills navbar-right">
                    <li ui-sref-active="active">
                        <a ui-sref="home">
                            <span class="glyphicon glyphicon-home"></span>
                            <span>Home</span>
                        </a>
                    </li>
                    <li ui-sref-active="active" ng-switch-when="true" class="dropdown pointer">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="">
                                <span>
                                    <span class="glyphicon glyphicon-th-list"></span>
                                    <span class="hidden-tablet">
                                        Entities
                                    </span>
                                    <b class="caret"></b>
                                </span>
                        </a>
                        <ul class="dropdown-menu">
                            <li ui-sref-active="active" ><a ui-sref="trainer"><span class="glyphicon glyphicon-asterisk"></span>
                                &#xA0;<span >trainer</span></a></li>
                            <li ui-sref-active="active" ><a ui-sref="client"><span class="glyphicon glyphicon-asterisk"></span>
                                &#xA0;<span >client</span></a></li>
                            <li ui-sref-active="active" ><a ui-sref="horse"><span class="glyphicon glyphicon-asterisk"></span>
                                &#xA0;<span >horse</span></a></li>
                            <li ui-sref-active="active" ><a ui-sref="serviceCategory"><span class="glyphicon glyphicon-asterisk"></span>
                                &#xA0;<span >serviceCategory</span></a></li>
                            <li ui-sref-active="active" ><a ui-sref="service"><span class="glyphicon glyphicon-asterisk"></span>
                                &#xA0;<span >service</span></a></li>
                            <li ui-sref-active="active" ><a ui-sref="trainerService"><span class="glyphicon glyphicon-asterisk"></span>
                                &#xA0;<span >trainerService</span></a></li>
                            <li ui-sref-active="active" ><a ui-sref="customService"><span class="glyphicon glyphicon-asterisk"></span>
                                &#xA0;<span >customService</span></a></li>
                            <li ui-sref-active="active" ><a ui-sref="invoice"><span class="glyphicon glyphicon-asterisk"></span>
                                &#xA0;<span >invoice</span></a></li>
                            <!-- JHipster will add entities to the menu here -->
                        </ul>
                    </li>
                    <li ng-class="{active: $state.includes('account')}" class="dropdown pointer">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="">
                                <span>
                                    <span class="glyphicon glyphicon-user"></span>
                                    <span class="hidden-tablet">
                                        Account
                                    </span>
                                    <b class="caret"></b>
                                </span>
                        </a>
                        <ul class="dropdown-menu">
                            <li ui-sref-active="active" ng-switch-when="true"><a ui-sref="settings"><span class="glyphicon glyphicon-wrench"></span>
                                &#xA0;<span>Settings</span></a></li>
                            <li ui-sref-active="active" ng-switch-when="true"><a ui-sref="password"><span class="glyphicon glyphicon-lock"></span>
                                &#xA0;<span>Password</span></a></li>
                            <li ui-sref-active="active" ng-switch-when="true"><a ui-sref="sessions"><span class="glyphicon glyphicon-cloud"></span>
                                &#xA0;<span>Sessions</span></a></li>
                            <li ui-sref-active="active" ng-switch-when="true"><a href="" ng-click="logout()"><span class="glyphicon glyphicon-log-out"></span>
                                &#xA0;<span>Log out</span></a></li>
                            <li ui-sref-active="active" ng-switch-when="false"><a ui-sref="login"><span class="glyphicon glyphicon-log-in"></span>
                                &#xA0;<span>Authenticate</span></a></li>

                            <li ui-sref-active="active" ng-switch-when="false"><a ui-sref="register"><span class="glyphicon glyphicon-plus-sign"></span>
                                &#xA0;<span>Register</span></a></li>
                        </ul>
                    </li>
                    <li ng-class="{active: $state.includes('admin')}"  ng-switch-when="true" has-role="ROLE_ADMIN" class="dropdown pointer">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="">
                                <span>
                                    <span class="glyphicon glyphicon-tower"></span>
                                    <span class="hidden-tablet">Administration</span>
                                    <b class="caret"></b>
                                </span>
                        </a>
                        <ul class="dropdown-menu">
                            <li ui-sref-active="active"><a ui-sref="metrics"><span class="glyphicon glyphicon-dashboard"></span>
                                &#xA0;<span>Metrics</span></a></li>
                            <li ui-sref-active="active"><a ui-sref="health"><span class="glyphicon glyphicon-heart"></span>
                                &#xA0;<span>Health</span></a></li>
                            <li ui-sref-active="active"><a ui-sref="configuration"><span class="glyphicon glyphicon-list-alt"></span>
                                &#xA0;<span>Configuration</span></a></li>
                            <li ui-sref-active="active"><a ui-sref="audits"><span class="glyphicon glyphicon-bell"></span>
                                &#xA0;<span>Audits</span></a></li>
                            <li ui-sref-active="active"><a ui-sref="logs"><span class="glyphicon glyphicon-tasks"></span>
                                &#xA0;<span>Logs</span></a></li>
                            <li ui-sref-active="active"><a ui-sref="docs"><span class="glyphicon glyphicon-book"></span>
                                &#xA0;<span>API</span></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
