<header class="site-head"
        id="site-head" ng-class="{'fixedHeader': fixedHeader}">
    <ul class="list-unstyled left-elems">
        <!-- nav trigger/collapse -->
        <li>
            <a href class="nav-trigger ion ion-drag" ng-click="toggleNav()"></a>
            <!-- <md-switch class="nav-trigger" ng-model="navHorizontal" style="margin: 0" ng-change="toggleNav()"> -->
        </li>
        <!-- #end nav-trigger -->

        <!-- Search box -->
        <li>
            <div class="form-search hidden-xs">
                <form id="site-search" action="#na">
                    <input type="search" class="form-control" placeholder="Type here for search...">
                    <button type="submit" class="ion ion-ios-search-strong"></button>
                </form>
            </div>
        </li>	<!-- #end search-box -->

        <!-- site-logo for mobile nav -->
        <li>
            <div class="site-logo visible-xs">
                <a href="#/dashboard" class="text-uppercase h3">
                    <span class="text">Materia</span>
                </a>
            </div>
        </li> <!-- #end site-logo -->

        <!-- fullscreen -->
        <li class="fullscreen hidden-xs" ng-click="goFullScreen()">
            <a href><i class="ion ion-qr-scanner"></i></a>

        </li>	<!-- #end fullscreen -->

        <!-- notification drop -->
        <li class="notify-drop hidden-xs dropdown" dropdown>
            <a href dropdown-toggle>
                <i class="ion ion-speakerphone"></i>
                <span class="badge badge-danger badge-xs circle">0</span>
            </a>

            <div class="panel panel-default dropdown-menu" custom-scrollbar>
                <div class="panel-heading">
                    You have 0 new notifications
                    <a href="javascript:;" class="right btn btn-xs btn-pink mt-3">Show All</a>
                </div>
                <div class="panel-body">
                    <ul class="list-unstyled">
                        <!--<li class="clearfix">-->
                            <!--<a href>-->
                                <!--<span class="ion ion-archive left bg-success"></span>-->
                                <!--<div class="desc">-->
                                    <!--<strong>App downloaded</strong>-->
                                    <!--<p class="small text-muted">1 min ago</p>-->
                                <!--</div>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li class="clearfix">-->
                            <!--<a href>-->
                                <!--<span class="ion ion-alert-circled left bg-danger"></span>-->
                                <!--<div class="desc">-->
                                    <!--<strong>Application Error</strong>-->
                                    <!--<p class="small text-muted">4 hours ago</p>-->
                                <!--</div>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li class="clearfix">-->
                            <!--<a href>-->
                                <!--<span class="ion ion-person left bg-info"></span>-->
                                <!--<div class="desc">-->
                                    <!--<strong>New User Registered</strong>-->
                                    <!--<p class="small text-muted">2 days ago</p>-->
                                <!--</div>-->
                            <!--</a>-->
                        <!--</li>-->
                    </ul>
                </div>
            </div>

        </li>	<!-- #end notification drop -->

    </ul>


    <ul class="list-unstyled right-elems">
        <!-- profile drop -->
        <li class="profile-drop hidden-xs dropdown" dropdown>
            <a href dropdown-toggle>
                <img src="assets/images/blueperson.png" alt="admin-pic">
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
                <li><a href="javascript:;"><span class="ion ion-person">&nbsp;&nbsp;</span>Profile</a></li>
                <li><a href="javascript:;"><span class="ion ion-settings">&nbsp;&nbsp;</span>Settings</a></li>
                <li class="divider"></li>
                <li><a href="javascript:;"><span class="ion ion-lock-combination">&nbsp;&nbsp;</span>Lock Screen</a></li>
                <li ><a href="" ng-click="logout()"><span class="ion ion-power">&nbsp;&nbsp;</span>Logout</a></li>
            </ul>
        </li>
        <!-- #end profile-drop -->

        <!-- sidebar contact -->
        <li class="floating-sidebar"  ng-class="{'open': floatingSidebar}">
            <a href ng-click="toggleFloatingSidebar()">
                <i class="ion ion-grid"></i>
            </a>
            <div class="sidebar-wrap" custom-scrollbar>
                <tabset justified="true">
                    <tab>
                        <tab-heading>Who's Online</tab-heading>
                        <div class="chat-tab tab clearfix">
                            <!--<h5 class="title mt0 mb30">Online</h5>-->
                            <!--<div class="user-container mb15">-->
                                <!--<img src="assets/images/sample/1.jpg" alt="">-->
                                <!--<div class="desc">-->
                                    <!--<p class="mb0">John Wick</p>-->
                                    <!--<p class="xsmall"><span class="ion ion-location"></span>&nbsp;San Franciso, USA</p>-->

                                <!--</div>-->
                                <!--<span class="ion ion-record avail right on"></span>-->
                            <!--</div>-->

                            <!--<div class="user-container mb15">-->
                                <!--<img src="assets/images/sample/2.jpg" alt="">-->
                                <!--<div class="desc">-->
                                    <!--<p class="mb0">George K.</p>-->
                                    <!--<p class="xsmall"><span class="ion ion-location"></span>&nbsp;California, USA</p>-->
                                <!--</div>-->
                                <!--<span class="ion ion-record avail right on"></span>-->
                            <!--</div>-->

                            <!--<div class="user-container mb15">-->
                                <!--<img src="assets/images/sample/3.jpg" alt="">-->
                                <!--<div class="desc">-->
                                    <!--<p class="mb0">Shello Dse.</p>-->
                                    <!--<p class="xsmall"><span class="ion ion-location"></span>&nbsp;Berlin, Germany</p>-->
                                <!--</div>-->
                                <!--<span class="ion ion-record avail right away"></span>-->
                            <!--</div>-->

                            <!--<div class="user-container mb15">-->
                                <!--<img src="assets/images/sample/4.jpg" alt="">-->
                                <!--<div class="desc">-->
                                    <!--<p class="mb0">Lucas Tower</p>-->
                                    <!--<p class="xsmall"><span class="ion ion-location"></span>&nbsp;Paris, France</p>-->
                                <!--</div>-->
                                <!--<span class="ion ion-record avail right away"></span>-->
                            <!--</div>-->

                            <!--<div class="user-container mb15">-->
                                <!--<img src="assets/images/sample/5.jpg" alt="">-->
                                <!--<div class="desc">-->
                                    <!--<p class="mb0">Hey Win</p>-->
                                    <!--<p class="xsmall"><span class="ion ion-location"></span>&nbsp;Hongkong, China</p>-->
                                <!--</div>-->
                                <!--<span class="ion ion-record avail right on"></span>-->
                            <!--</div>-->

                            <!--<div class="user-container mb15">-->
                                <!--<img src="assets/images/sample/6.jpg" alt="">-->
                                <!--<div class="desc">-->
                                    <!--<p class="mb0">Kelvin L.</p>-->
                                    <!--<p class="xsmall"><span class="ion ion-location"></span>&nbsp;Moscow, Russia</p>-->
                                <!--</div>-->
                                <!--<span class="ion ion-record avail right on"></span>-->
                            <!--</div>-->

                            <!--<h5 class="title mt0 mb30">Offline</h5>-->

                            <!--<div class="user-container mb15">-->
                                <!--<img src="assets/images/sample/7.jpg" alt="">-->
                                <!--<div class="desc">-->
                                    <!--<p class="mb0">Martin Xx.</p>-->
                                    <!--<p class="xsmall"><span class="ion ion-location"></span>&nbsp;xxx, yyy</p>-->
                                <!--</div>-->
                                <!--<span class="ion ion-record avail right off"></span>-->
                            <!--</div>-->

                            <!--<div class="user-container mb15">-->
                                <!--<img src="assets/images/sample/2.jpg" alt="">-->
                                <!--<div class="desc">-->
                                    <!--<p class="mb0">Lorem Ipsum</p>-->
                                    <!--<p class="xsmall"><span class="ion ion-location"></span>&nbsp;Virginia, USA</p>-->
                                <!--</div>-->
                                <!--<span class="ion ion-record avail right off"></span>-->
                            <!--</div>-->
                        </div>
                    </tab>
                    <!--<tab heading="Info">-->
                        <!--<div class="info-tab tab clearfix">-->
                            <!--<h5 class="title mt0 mb30">Work in Progress</h5>-->
                            <!--<ul class="list-unstyled mb15 clearfix">-->
                                <!--<li>-->
                                    <!--<div class="clearfix mb10">-->
                                        <!--<small class="left">App Upload</small>-->
                                        <!--<small class="right">80%</small>-->
                                    <!--</div>-->
                                    <!--<progressbar value="80" class="progress-xs" type="primary"></progressbar>-->
                                <!--</li>-->
                                <!--<li>-->
                                    <!--<div class="clearfix mb10">-->
                                        <!--<small class="left">Creating Assets</small>-->
                                        <!--<small class="right">50%</small>-->
                                    <!--</div>-->
                                    <!--<progressbar value="50" class="progress-xs" type="danger"></progressbar>-->
                                <!--</li>-->
                                <!--<li>-->
                                    <!--<div class="clearfix mb10">-->
                                        <!--<small class="left">New UI 2.0</small>-->
                                        <!--<small class="right">90%</small>-->
                                    <!--</div>-->
                                    <!--<progressbar value="90" class="progress-xs" type="success"></progressbar>-->
                                <!--</li>-->
                            <!--</ul>-->

                            <!--<h5 class="title mt0 mb30">Settings</h5>-->
                            <!--<div class="clearfix mb15">-->
                                <!--<div class="left">-->
                                    <!--<p>Show me online</p>-->
                                <!--</div>-->

                                <!--<div class="right">-->
                                    <!--<div class="ui-toggle ui-toggle-success ui-toggle-xs">-->
                                        <!--<label>-->
                                            <!--<input type="checkbox" checked>-->
                                            <!--<span></span>-->
                                        <!--</label>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->

                            <!--<div class="clearfix mb15">-->
                                <!--<div class="left">-->
                                    <!--<p>Notifications</p>-->
                                <!--</div>-->

                                <!--<div class="right">-->
                                    <!--<div class="ui-toggle ui-toggle-success ui-toggle-xs">-->
                                        <!--<label>-->
                                            <!--<input type="checkbox">-->
                                            <!--<span></span>-->
                                        <!--</label>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->

                            <!--<div class="clearfix mb15">-->
                                <!--<div class="left">-->
                                    <!--<p>Enable History</p>-->
                                <!--</div>-->

                                <!--<div class="right">-->
                                    <!--<div class="ui-toggle ui-toggle-success ui-toggle-xs">-->
                                        <!--<label>-->
                                            <!--<input type="checkbox" checked>-->
                                            <!--<span></span>-->
                                        <!--</label>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    </tab>
                </tabset>

            </div>
        </li>
    </ul>
    <!-- linked header (static) view -->
</header>


