<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Bombproof Billing</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <!--&lt;!&ndash; Icons &ndash;&gt;-->
        <!--<link rel="stylesheet" href="assets/fonts/ionicons/css/ionicons.min.css">-->
        <!--<link rel="stylesheet" href="assets/fonts/font-awesome/css/font-awesome.min.css">-->
        <link rel="stylesheet" href="fonts/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="fonts/ionicons/css/ionicons.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
        <link rel="stylesheet" href="bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.css">
        <!--<link rel="stylesheet" href="assets/fonts/font-awesome/css/font-awesome.min.css">-->
        <!--<link rel="stylesheet" href="assets/fonts/ionicons/css/ionicons.min.css">-->
        <!-- Css/Less Stylesheets -->
        <!-- build:css styles/angular-material.min.css -->
        <link rel="stylesheet" href="assets/styles/vendors/angular-material.min.css">
        <!-- /build -->
        <!-- build:css styles/bootstrap.min.css -->
        <link rel="stylesheet" href="assets/styles/vendors/bootstrap.min.css">
        <!-- /build -->
        <!-- build:css styles/main.min.css -->
        <link rel="stylesheet/less" href="assets/styles/main.less">
        <!-- /build -->
        <!-- Dev only -->
        <!-- build:remove -->
        <link rel="stylesheet" href="assets/styles/main.min.css">
        <!-- /build -->




        <!-- <link rel="stylesheet" href="styles/vendors/bootstrap.min.css"> -->
        <!-- <link rel="stylesheet" href="_tmp/main.min.css"> -->

        <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,700,300' rel='stylesheet' type='text/css'>
        <!--&lt;!&ndash; Place favicon.ico and apple-touch-icon.png in the root directory &ndash;&gt;-->
        <!--&lt;!&ndash; build:css assets/styles/vendor.css &ndash;&gt;-->
        <!--&lt;!&ndash; bower:css &ndash;&gt;-->
        <!--<link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />-->
        <!--<link rel="stylesheet" href="bower_components/select2/select2.css" />-->
        <!--<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />-->
        <!--<link rel="stylesheet" href="bower_components/fullcalendar/dist/fullcalendar.css" />-->
        <!--<link rel="stylesheet" href="bower_components/Ionicons/css/ionicons.css" />-->
        <!--<link rel="stylesheet" href="bower_components/perfect-scrollbar/css/perfect-scrollbar.css" />-->
        <!--&lt;!&ndash; endbower &ndash;&gt;-->
        <!--&lt;!&ndash; endbuild &ndash;&gt;-->
        <!--&lt;!&ndash; build:css assets/styles/main.css &ndash;&gt;-->
        <!--<link rel="stylesheet" href="assets/styles/_tmp/main.min.css">-->
        <!--<link rel="stylesheet" href="assets/styles/main.css">-->
        <!--&lt;!&ndash; endbuild &ndash;&gt;-->
        <!-- Match Media polyfill for IE9 -->
        <!--[if IE 9]> <script src="scripts/ie/matchMedia.js"></script>  <![endif]-->
    </head>
    <body ng-app="bombproofbillingApp"
          id="app" custom-page
          class="app off-canvas {{themeActive}}" ng-class="{'nav-expand': navFull, 'body-full': bodyFull}" ng-controller="AppController">

    <!-- BEGIN: Pre-Bootstrap Loading Screen. -->
    <div ng-if="false" class="text-center" style="height: 100%; width: 100%; background-color: #FFF;">

       <div class="loading-image">
           <ul class="list-unstyled">
               <li>
                   <img src="assets/images/loading.gif">
               </li>
               <li>
                   <h4>Loading</h4>

               </li>
           </ul>
           </div>

    </div>
    <!--[if lt IE 9]>

    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!--<div ng-show="{{ENV === 'dev'}}" class="development" ng-cloak=""></div>-->
    <div ui-view="header"></div>
    <!-- main-container -->
    <!--<base href="/">-->
    <div class="main-container clearfix" ng-class="{'nav-expand': navFull, 'nav-horizontal': navHorizontal}">
        <aside ui-view="navbar"></aside>
        <!-- content-here -->
        <div ng-class="{'nav-expand': navFull, 'fixedHeader': fixedHeader}"
             class="content-container"
             id="content"
             ui-view="content">

        </div>
    </div> <!-- #end main-container -->

    <!--<div class="container">-->
        <!--<div class="well" ui-view="content"></div>-->

        <!--<div class="footer">-->
            <!--<p translate="footer">This is your footer</p>-->
        <!--</div>-->
    <!--</div>-->


    <!--<body ng-app="bombproofbillingApp"-->
          <!--id="app" custom-page-->
          <!--class="app off-canvas {{themeActive}}" ng-class="{'nav-expand': navFull, 'body-full': bodyFull}"-->
          <!--ng-controller="AppController">-->

    <!--&lt;!&ndash;<div ng-show="{{ENV === 'dev'}}" class="development" ng-cloak=""></div>&ndash;&gt;-->


    <!--<header class="site-head" ng-controller="HeaderController"-->
                <!--id="site-head" ng-class="{'fixedHeader': fixedHeader}"-->
                <!--ng-include=" 'scripts/app/header/header.html' ">-->
            <!--&lt;!&ndash; linked header (static) view &ndash;&gt;-->
    <!--</header>-->
            <!--&lt;!&ndash;[if lt IE 9]>-->
            <!--<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>-->
        <!--<![endif]&ndash;&gt;-->

    <!--&lt;!&ndash; main-container &ndash;&gt;-->
    <!--<div class="main-container clearfix" ng-class="{'nav-expand': navFull, 'nav-horizontal': navHorizontal}">-->
        <!--<aside class="nav-wrap" ng-class="{'nav-expand': navFull, 'nav-offcanvas': navOffCanvas}"-->
               <!--id="site-nav" custom-scrollbar-->
               <!--ng-include=" 'scripts/app/views/nav.html' ">-->

        <!--</aside>-->

    <!--</div> &lt;!&ndash; #end main-container &ndash;&gt;-->

    <!--&lt;!&ndash; settings &ndash;&gt;-->
    <!--<div class="site-settings clearfix hidden-xs" ng-class="{'open': isSettingsOpen}">-->
        <!--<div class="settings clearfix">-->
            <!--<div class="trigger ion ion-settings left" ng-click="toggleSettingsBox()"></div>-->
            <!--<div class="wrapper left">-->
                <!--<ul class="list-unstyled other-settings">-->
                    <!--<li class="clearfix mb10">-->
                        <!--<div class="left small">Nav Horizontal</div>-->
                        <!--<md-switch class="right" ng-model="navHorizontal" style="margin: 0" ng-change="onNavHorizontal()">-->
                        <!--</md-switch>-->
                    <!--</li>-->
                    <!--<li class="clearfix mb10">-->
                        <!--<div class="left small">Fixed Header</div>-->
                        <!--<md-switch class="right" ng-model="fixedHeader" style="margin: 0" ng-change="onFixedHeader()">-->
                        <!--</md-switch>-->
                    <!--</li>-->
                    <!--<li class="clearfix mb10">-->
                        <!--<div class="left small">Nav Full</div>-->
                        <!--<md-switch class="right" ng-model="navFull" style="margin: 0" ng-change="onNavFull()">-->
                        <!--</md-switch>-->
                    <!--</li>-->
                <!--</ul>-->
                <!--<hr/>-->
                <!--<ul class="themes list-unstyled">-->
                    <!--<li ng-class="{active: theme-zero}" ng-model="themeModel" btn-radio="'theme-zero'" ng-change="onThemeChange(themeModel)"></li>-->
                    <!--<li ng-class="{active: theme-one}" ng-model="themeModel" btn-radio="'theme-one'" ng-change="onThemeChange(themeModel)"></li>-->
                    <!--<li ng-class="{active: theme-two}" ng-model="themeModel" btn-radio="'theme-two'" ng-change="onThemeChange(themeModel)"></li>-->
                    <!--<li ng-class="{active: theme-three}" ng-model="themeModel" btn-radio="'theme-three'" ng-change="onThemeChange(themeModel)"></li>-->
                    <!--<li ng-class="{active: theme-four}" ng-model="themeModel" btn-radio="'theme-four'" ng-change="onThemeChange(themeModel)"></li>-->
                    <!--<li ng-class="{active: theme-five}" ng-model="themeModel" btn-radio="'theme-five'" ng-change="onThemeChange(themeModel)"></li>-->
                    <!--<li ng-class="{active: theme-six}" ng-model="themeModel" btn-radio="'theme-six'" ng-change="onThemeChange(themeModel)"></li>-->
                    <!--<li ng-class="{active: theme-seven}" ng-model="themeModel" btn-radio="'theme-seven'" ng-change="onThemeChange(themeModel)"></li>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <!--&lt;!&ndash; #settings &ndash;&gt;-->

        <!--&lt;!&ndash;<div ui-view="navbar" ng-cloak=""></div>&ndash;&gt;-->
        <!--<div class="container">-->
            <!--<div class="well" ui-view="content"></div>-->

            <!--<div class="footer">-->
                <!--<p translate="footer">This is your footer</p>-->
            <!--</div>-->
        <!--</div>-->

        <!-- Google Analytics: uncomment and change UA-XXXXX-X to be your site's ID.
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>-->

        <!-- build:js scripts/vendor.js -->
        <!-- bower:js -->
        <script src="bower_components/modernizr/modernizr.js"></script>
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-aria/angular-aria.js"></script>
        <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script src="bower_components/angular-cache-buster/angular-cache-buster.js"></script>
        <script src="bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="bower_components/angular-fullscreen/src/angular-fullscreen.js"></script>
        <script src="bower_components/angular-loading-bar/build/loading-bar.js"></script>
        <script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
        <script src="bower_components/angular-animate/angular-animate.js"></script>
        <script src="bower_components/angular-material/angular-material.js"></script>
        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
        <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
        <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="bower_components/select2/select2.js"></script>
        <script src="bower_components/angular-ui-select3/src/select3.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script src="bower_components/fastclick/lib/fastclick.js"></script>
        <script src="bower_components/moment/moment.js"></script>
        <script src="bower_components/fullcalendar/dist/fullcalendar.js"></script>
        <script src="bower_components/jquery-sparkline/dist/jquery.sparkline.js"></script>
        <script src="bower_components/json3/lib/json3.js"></script>
        <script src="bower_components/ngInfiniteScroll/build/ng-infinite-scroll.js"></script>
        <script src="bower_components/oclazyload/dist/ocLazyLoad.js"></script>
        <script src="bower_components/perfect-scrollbar/js/perfect-scrollbar.jquery.js"></script>
        <script src="bower_components/perfect-scrollbar/js/perfect-scrollbar.js"></script>
        <script src="bower_components/ui-select/src/select3.js"></script>
        <script src="bower_components/angular-filter/dist/angular-filter.min.js"></script>
        <script src="bower_components/angular-ui-grid/ui-grid.js"></script>
        <script src="bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
        <!-- endbower -->
        <!-- endbuild -->




    <!-- build:js({.tmp,src/main/webapp}) scripts/app.js -->
    <script src="scripts/app/app.js"></script>
    <script src="scripts/app/app.constants.js"></script>
    <script src="scripts/app/app.directives.js"></script>
    <script src="scripts/app/app.controller.js"></script>

    <!-- Directives -->
    <script src="scripts/app/dashboard/sparkline.directives.js"></script>


    <!-- Controllers-->
    <script src="scripts/app/header/header.controller.js"></script>
    <script src="scripts/components/navbar/navbar.controller.js"></script>
    <script src="scripts/app/account/activate/activate.controller.js"></script>
    <script src="scripts/app/account/login/login.controller.js"></script>
    <script src="scripts/app/account/logout/logout.controller.js"></script>
    <script src="scripts/app/account/password/password.controller.js"></script>
    <script src="scripts/app/account/register/register.controller.js"></script>
    <script src="scripts/app/account/settings/settings.controller.js"></script>
    <script src="scripts/app/account/reset/finish/reset.finish.controller.js"></script>
    <script src="scripts/app/account/reset/request/reset.request.controller.js"></script>
    <script src="scripts/app/admin/audits/audits.controller.js"></script>
    <script src="scripts/app/admin/configuration/configuration.controller.js"></script>
    <script src="scripts/app/admin/health/health.controller.js"></script>
    <script src="scripts/app/admin/logs/logs.controller.js"></script>
    <script src="scripts/app/admin/metrics/metrics.controller.js"></script>
    <script src="scripts/app/main/main.controller.js"></script>
    <script src="scripts/app/account/sessions/sessions.controller.js"></script>
    <script src="scripts/app/entities/trainer/trainer.controller.js"></script>
    <script src="scripts/app/entities/trainer/trainer-dialog.controller.js"></script>
    <script src="scripts/app/entities/trainer/trainer-detail.controller.js"></script>
    <script src="scripts/app/entities/client/client.controller.js"></script>
    <script src="scripts/app/entities/client/client-dialog.controller.js"></script>
    <script src="scripts/app/entities/client/client-detail.controller.js"></script>
    <script src="scripts/app/entities/horse/horse.controller.js"></script>
    <script src="scripts/app/entities/horse/horse-dialog.controller.js"></script>
    <script src="scripts/app/entities/horse/horse-detail.controller.js"></script>
    <script src="scripts/app/entities/serviceCategory/serviceCategory.controller.js"></script>
    <script src="scripts/app/entities/serviceCategory/serviceCategory-dialog.controller.js"></script>
    <script src="scripts/app/entities/serviceCategory/serviceCategory-detail.controller.js"></script>
    <script src="scripts/app/entities/service/service.controller.js"></script>
    <script src="scripts/app/entities/service/service-dialog.controller.js"></script>
    <script src="scripts/app/entities/service/service-detail.controller.js"></script>
    <script src="scripts/app/entities/trainerService/trainerService.controller.js"></script>
    <script src="scripts/app/entities/trainerService/trainerService-dialog.controller.js"></script>
    <script src="scripts/app/entities/trainerService/trainerService-detail.controller.js"></script>
    <script src="scripts/app/entities/customService/customService.controller.js"></script>
    <script src="scripts/app/entities/customService/customService-dialog.controller.js"></script>
    <script src="scripts/app/entities/customService/customService-detail.controller.js"></script>
    <script src="scripts/app/entities/invoice/invoice.controller.js"></script>
    <script src="scripts/app/entities/invoice/invoice-dialog.controller.js"></script>
    <script src="scripts/app/entities/invoice/invoice-detail.controller.js"></script>
    <script src="scripts/app/dashboard/dashboard.controller.js"></script>
    <script src="scripts/app/entities/admin/admin.controller.js"></script>
    <script src="scripts/app/account/management/account.management.controller.js"></script>
    <script src="scripts/app/entities/admin/admin-detail.controller.js"></script>
    <script src="scripts/app/entities/admin/admin-dialog.controller.js"></script>
    <script src="scripts/app/entities/trainer/trainer-assign.controller.js"></script>
    <script src="scripts/app/entities/trainer/trainer-client-assign.controller.js"></script>
    <script src="scripts/app/entities/trainer/trainer-client-detail.controller.js"></script>
    <script src="scripts/app/entities/trainer/trainer-services.controller.js"></script>
    <script src="scripts/app/entities/trainer/trainer-myclient-assign.controller.js"></script>
    <script src="scripts/app/entities/trainer/trainer-myservices.controller.js"></script>
    <script src="scripts/app/entities/invoice/new-invoice.controller.js"></script>

    <!-- Routes -->
    <script src="scripts/app/dashboard/dashboard.js"></script>
    <script src="scripts/app/entities/admin/admin.js"></script>
    <script src="scripts/app/account/management/account.management.js"></script>

    <!-- State Services -->
    <script src="scripts/components/user/user.details.service.js"></script>

    <!-- Data Services -->
    <script src="scripts/components/admin/admin.service.js"></script>



    <script src="scripts/components/auth/auth.service.js"></script>
    <script src="scripts/components/auth/principal.service.js"></script>
    <script src="scripts/components/auth/authority.directive.js"></script>
    <script src="scripts/components/auth/services/account.service.js"></script>
    <script src="scripts/components/auth/services/activate.service.js"></script>
    <script src="scripts/components/auth/services/password.service.js"></script>
    <script src="scripts/components/auth/services/register.service.js"></script>
    <script src="scripts/components/form/form.directive.js"></script>
    <script src="scripts/components/form/pager.directive.js"></script>
    <script src="scripts/components/form/pagination.directive.js"></script>
    <script src="scripts/components/admin/audits.service.js"></script>
    <script src="scripts/components/admin/logs.service.js"></script>
    <script src="scripts/components/admin/configuration.service.js"></script>
    <script src="scripts/components/admin/monitoring.service.js"></script>
    <script src="scripts/components/navbar/navbar.directive.js"></script>
    <script src="scripts/components/user/user.service.js"></script>
    <script src="scripts/components/util/truncate.filter.js"></script>
    <script src="scripts/components/util/base64.service.js"></script>
    <script src="scripts/components/util/parse-links.service.js"></script>
    <script src="scripts/components/util/dateutil.service.js"></script>
    <script src="scripts/app/account/account.js"></script>
    <script src="scripts/app/account/activate/activate.js"></script>
    <script src="scripts/app/account/login/login.js"></script>
    <script src="scripts/app/account/logout/logout.js"></script>
    <script src="scripts/app/account/password/password.js"></script>
    <script src="scripts/app/account/password/password.directive.js"></script>
    <script src="scripts/app/account/register/register.js"></script>
    <script src="scripts/app/account/settings/settings.js"></script>

    <script src="scripts/app/account/reset/finish/reset.finish.js"></script>
    <script src="scripts/app/account/reset/request/reset.request.js"></script>
    <script src="scripts/app/admin/admin.js"></script>
    <script src="scripts/app/admin/audits/audits.js"></script>
    <script src="scripts/app/admin/configuration/configuration.js"></script>
    <script src="scripts/app/admin/docs/docs.js"></script>
    <script src="scripts/app/admin/health/health.js"></script>
    <script src="scripts/app/admin/logs/logs.js"></script>
    <script src="scripts/app/admin/metrics/metrics.js"></script>
    <script src="scripts/app/entities/entity.js"></script>
    <script src="scripts/app/error/error.js"></script>
    <!--<script src="scripts/app/main/main.js"></script>-->
    <script src="scripts/components/auth/services/sessions.service.js"></script>
    <script src="scripts/components/auth/provider/auth.session.service.js"></script>
    <script src="scripts/app/account/sessions/sessions.js"></script>
    <script src="scripts/app/entities/trainer/trainer.js"></script>

    <script src="scripts/components/entities/trainer/trainer.service.js"></script>
    <script src="scripts/app/entities/client/client.js"></script>

    <script src="scripts/components/entities/client/client.service.js"></script>
    <script src="scripts/app/entities/horse/horse.js"></script>

    <script src="scripts/components/entities/horse/horse.service.js"></script>
    <script src="scripts/app/entities/serviceCategory/serviceCategory.js"></script>

    <script src="scripts/components/entities/serviceCategory/serviceCategory.service.js"></script>
    <script src="scripts/app/entities/service/service.js"></script>

    <script src="scripts/components/entities/service/service.service.js"></script>
    <script src="scripts/app/entities/trainerService/trainerService.js"></script>

    <script src="scripts/components/entities/trainerService/trainerService.service.js"></script>
    <script src="scripts/app/entities/customService/customService.js"></script>
    <script src="scripts/components/entities/customService/customService.service.js"></script>
    <script src="scripts/app/entities/invoice/invoice.js"></script>

    <script src="scripts/components/entities/invoice/invoice.service.js"></script>
    <!-- endbuild -->
</body>
</html>
