<div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h1>Authentication</h1>

            <div class="alert alert-danger" ng-show="authenticationError">
                <strong>Authentication failed!</strong> Please check your credentials and try again.
            </div>
            <form class="form" role="form" ng-submit="login($event)">
                <div class="form-group">
                    <label for="username">Login</label>
                    <input type="email" class="form-control" id="username" placeholder="Your login" ng-model="username">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Your password"
                           ng-model="password">
                </div>
                <div class="form-group">
                    <label for="rememberMe">
                        <input type="checkbox" id="rememberMe" ng-model="rememberMe" checked>
                        <span>Automatic Login</span>
                    </label>
                </div>
                <button type="submit" class="btn btn-primary">Authenticate</button>
            </form>
            <p></p>
            <div class="alert alert-warning">
                <a href="#/reset/request">Did you forget your password?</a>
            </div>
            <div class="alert alert-warning">
                You don't have an account yet? <a href="#/register">Register a new account</a>
            </div>
        </div>
    </div>
</div>
