<div class="page page-auth" ng-cloak="">

	<div class="auth-container">

		<div class="form-head mb20">
			<h1 class="site-logo h2 mb5 mt5 text-uppercase text-bold text-center"><img src="/assets/images/final-logo-black.png"></h1>
			<h5 class="text-normal h5 text-center">Sign In to Dashboard</h5>
		</div>

		<div class="form-container">
			<form class="form-horizontal" ng-submit="login($event)">
				<md-input-container>
					<label>Email Id</label>
					<input type="text" placeholder="Enter your email-id" ng-model="username">
				</md-input-container>

				<md-input-container>
					<label>Password</label>
					<input type="password" placeholder="Type your password" ng-model="password">
				</md-input-container>

				<div class="clearfix">
					<div class="ui-checkbox ui-checkbox-primary right">
						<label>
							<input type="checkbox" ng-model="rememberMe" checked>
							<span>Remember me</span>
						</label>
					</div>
				</div>
				<div class="clearfix mb15"><a href="#/pages/forget-pass" class="text-success small">Forget your password?</a></div>
				<div class="btn-group btn-group-justified mb15">
					<!--<div class="btn-group">-->
						<!--<button type="button" class="btn btn-facebook"><span class="ion ion-social-facebook"></span>&nbsp;&nbsp;Facebook</button>-->
					<!--</div>-->
					<div class="btn-group">
						<button type="submit" class="btn btn-success">Sign In</button>
					</div>
				</div>
				<!--<div class="clearfix text-center small">-->
					<!--<p>Don't have an account? <a href="#/pages/signup">Create Now</a></p>-->
				<!--</div>-->
			</form>
		</div>

	</div> <!-- #end signin-container -->
</div>
