
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myInvoiceLabel">Create or edit a Invoice</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label>ID</label>
            <input type="text" class="form-control" name="id"
                    ng-model="invoice.id" readonly>
        </div>

        <div class="form-group">
            <label for="field_date">Date</label>
            <input type="datetime-local" class="form-control" name="date" id="field_date"
                    ng-model="invoice.date" ng-model-options="{timezone: 'UTC'}" required>

            <div ng-show="editForm.date.$invalid">
                <p class="help-block"
                    ng-show="editForm.date.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.date.$error.datetimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label for="field_total">Total</label>
            <input type="number" class="form-control" name="total" id="field_total"
                    ng-model="invoice.total" required>

            <div ng-show="editForm.total.$invalid">
                <p class="help-block"
                    ng-show="editForm.total.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.total.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label for="field_paid">Paid</label>
            <input type="checkbox" class="form-control" name="paid" id="field_paid"
                    ng-model="invoice.paid">

        </div>

        <div class="form-group">
            <label for="field_client">client</label>
            <select class="form-control" id="field_client" name="client" ng-model="invoice.client.id" ng-options="client.id as client.id for client in clients">
            </select>
        </div>
        <div class="form-group">
            <label for="field_trainer">trainer</label>
            <select class="form-control" id="field_trainer" name="trainer" ng-model="invoice.trainer.id" ng-options="trainer.id as trainer.id for trainer in trainers">
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
