
<div>
    <h2><span>Invoice</span> {{invoice.id}}</h2>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Field</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <span>Date</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{invoice.date}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Total</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{invoice.total}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Paid</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{invoice.paid}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>client</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{invoice.client.id}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>trainer</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{invoice.trainer.id}}" readonly>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            ui-sref="invoice"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>
