<div class="page page-forms-elements" ng-cloak>
    <div class="page-wrap">
        <div class="col-xs-12">
            <div class="panel panel-primary panel-hovered panel-stacked mb20">
                <div class="panel-heading">Recent Invoices</div>
                <div class="clearfix">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Date</th>
                                    <th>Total</th>
                                    <th>Paid</th>
                                    <th>client</th>
                                    <th>trainer</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="invoice in invoices">
                                    <td><a ui-sref="invoice.detail({id:invoice.id})">{{invoice.id}}</a></td>
                                    <td>{{invoice.date}}</td>
                                    <td>{{invoice.total}}</td>
                                    <td>{{invoice.paid}}</td>
                                    <td>{{invoice.client.id}}</td>
                                    <td>{{invoice.trainer.id}}</td>
                                    <td>
                                        <button type="submit"
                                                ui-sref="invoice.detail({id:invoice.id})"
                                                class="btn btn-info btn-sm">
                                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span> View</span>
                                        </button>
                                        <button type="submit"
                                                ui-sref="invoice.edit({id:invoice.id})"
                                                class="btn btn-primary btn-sm">
                                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span> Edit</span>
                                        </button>
                                        <button type="submit"
                                                ng-click="delete(invoice.id)"
                                                class="btn btn-danger btn-sm">
                                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span> Delete</span>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
    </div>
        </div>
    </div>
</div>