<div class="page page-forms-elements" ng-cloak>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="clear()">&times;</button>
        <h2><span>New Invoice Item</span></h2>

    </div>
    <div class="modal-body">
                    <div class="panel panel-default panel-hovered panel-stacked mb20">
                        <div class="panel-heading">Service</div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="col-md-3 control-label">Service</label>
                                <div class="col-md-9">
                                    <select class="form-control" name="mySelect" id="mySelect"
                                            ng-options="(service.name + ' - ' + service.serviceCategory.name) for service in trainer.trainerService track by service.id"
                                            ng-model="trainer.trainerService[0]"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default panel-hovered panel-stacked mb20" ng-if="trainer.trainerService[0]">
                        <div class="panel-body">
                            <div class="form-group mt20">
                                <label for="serviceName">Name</label>
                                <input type="text" name="serviceName" id="serviceName" class="input-sm form-control" value="{{trainer.trainerService[0].name}}" readonly>
                            </div>
                            <div class="form-group">
                                <label for="serviceCategory">Category</label>
                                <input type="text" name="serviceCategory" id="serviceCategory" class="input-sm form-control" value="{{trainer.trainerService[0].service.serviceCategory.name}}" readonly>
                            </div>
                            <div class="form-group">
                                <label for="serviceCost">Cost</label>
                                <input type="text" name="serviceCost" id="serviceCost" class="input-sm form-control" value="{{trainer.trainerService[0].cost}}" readonly>
                            </div>
                        </div>
                    </div>
        </div>

    <div class="ml20">
        <button type="submit"
                class="btn btn-info" data-dismiss="modal" ng-click="clear()">
            <span class="fa fa-chevron-left"></span>&nbsp;<span> Back</span>
        </button>
        <button type="submit"
                class="btn btn-info" data-dismiss="modal" ng-click="addServiceToList(trainer.trainerService[0])">
            <span class="fa fa-check"></span>&nbsp;<span> OK</span>
        </button>
    </div>

</div>