<div class="page page-forms-elements" ng-cloak>
    <div class="page-wrap">
            <div class="col-xs-12 mt20">
                <div class="panel panel-primary panel-hovered panel-stacked mb20">
                    <div class="panel-heading">New Client Invoice</div>
                    <div class="clearfix">
                        <div class="panel-body">


                            <!--The Client Info-->
                            <div class="col-xs-12">
                                <!--Date-->
                                <div class="col-xs-12 col-sm-6 col-md-4 panel panel-default panel-hovered panel-stacked mb10">
                                    <div class="panel-heading">Date</div>
                                    <div class="clearfix">
                                        <div class="panel-body">
                                            <div class="input-group date" id="datepicker">
                                                <input type="text" class="form-control"  ng-required="true">
                                                <span class="input-group-addon">
                                                    <i class=" fa fa-calendar"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-xs-12 col-sm-6 col-md-8 panel panel-default panel-hovered panel-stacked mb10">
                                    <div class="panel-heading">Client</div>
                                    <div class="clearfix">
                                        <div class="panel-body">
                                                <div class="col-md-12">
                                                    <select class="form-control" name="mySelect" id="mySelect"
                                                            ng-options="(client.firstName + ' ' + client.lastName) for client in trainer.client track by client.id"
                                                            ng-model="trainer.client[0]" ng-required="true"></select>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <!--The Line Items-->
                            <div class="col-xs-12 mb20">
                                <div class="panel panel-default panel-hovered panel-stacked mb20">
                                    <div class="panel-heading">Invoice Items</div>
                                    <div class="clearfix">
                                        <div class="panel-body">
                                            <div>
                                                <button type="submit" class="btn btn-success" ng-click="openNewInvoiceModal()">Add Item</button>
                                            </div>
                                            <div class="table-responsive">
                                            <table class="table table-striped">
                                                <thead>
                                                <tr>
                                                    <th>Service</th>
                                                    <th>Category</th>
                                                    <th>Cost</th>
                                                    <th></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr ng-repeat="service in addedServices">
                                                    <td>{{service.name}}</td>
                                                    <td>{{service.service.serviceCategory.name}}</td>
                                                    <td>${{service.cost}}</td>
                                                    <td>
                                                        <button type="submit"
                                                                ng-click="delete(service.id)"
                                                                class="btn btn-danger btn-sm">
                                                            <span class="fa fa-trash"></span>&nbsp;<span> Delete</span>
                                                        </button>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                            <div class="panel-body">


                                                <div class="right">
                                                    <label class="col-md-3 control-label" for="totalCost">Total</label>
                                                    <input type="text" class="col-md-9" id="totalCost" readonly value="${{totalCost}}">
                                                </div>
                                                <div class="row mt20 right col-xs-12">
                                                    <button class="fa fa-send btn btn-primary right"> Submit</button>
                                                    <button class="fa fa-undo btn btn-info mr10 right" ng-click="clearItems()"> Clear</button>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-info fa fa-chevron-left ml10 mb30" ui-sref="home"> Cancel</button>

                        </div>


                </div>

                </div>

    </div>
    </div>
</div>