<div class="page page-forms-elements">

    <ol class="breadcrumb breadcrumb-small">
        <li>Admin Functions</li>
        <li class="active"><a ui-sref="trainers">Create Client</a></li>
    </ol>


    <div class="page-wrap">

        <!-- row -->
        <div class="row">

            <!-- col-left -->
            <div class="col-xs-12">
                <div class="panel panel-primary panel-hovered panel-stacked mb20">
                    <div class="panel-heading">Personal Info</div>
                    <div class="panel-body">
                        <form role="form" id="createClientForm" name="createClientForm" class="form-horizontal"> <!-- form horizontal acts as a row -->
                            <!-- Name control -->
                            <div class="form-group">
                                <label class="col-md-3 control-label">First Name</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" ng-required="true" ng-model="userdetails.firstName">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Last Name</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" ng-required="true" ng-model="userdetails.lastName">
                                </div>
                            </div>
                            <!-- email control -->
                            <div class="form-group">
                                <label class="col-md-3 control-label">Address</label>
                                <div class="col-md-9">
                                    <div class="input-group">
                                        <span class="input-group-addon ion ion-home"></span>
                                        <input type="address" class="form-control" placeholder="Address" ng-required="true" ng-model="client.address">
                                    </div>
                                </div>
                            </div>
                            <!-- email control -->
                            <div class="form-group">
                                <label class="col-md-3 control-label">Email</label>
                                <div class="col-md-9">
                                    <div class="input-group">
                                        <span class="input-group-addon ion ion-email"></span>
                                        <input type="email" class="form-control" placeholder="Email Address" ng-required="true" ng-model="userdetails.email">
                                    </div>
                                </div>
                            </div>
                            <!-- confirm email control -->
                            <div class="form-group">
                                <label class="col-md-3 control-label">Confirm Email</label>
                                <div class="col-md-9">
                                    <div class="input-group">
                                        <span class="input-group-addon ion ion-email"></span>
                                        <input type="email" class="form-control" placeholder="Email Address" ng-required="true" ng-model="emailConfirm">
                                    </div>
                                </div>
                            </div>
                            <!-- confirm email control -->
                            <div class="form-group">
                                <label class="col-md-3 control-label">Phone</label>
                                <div class="col-md-9">
                                    <div class="input-group">
                                        <span class="input-group-addon ion ion-ios-telephone"></span>
                                        <input type="number" class="form-control" string-to-number placeholder="Phone Number" ng-required="true" ng-model="client.phone">
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default panel-hovered panel-stacked mb20">
                                <div class="panel-heading">Account Info</div>
                                <div class="panel-body">
                                    <!--<div role="form" class="form-horizontal"> &lt;!&ndash; form horizontal acts as a row &ndash;&gt;-->
                                    <!-- Name control -->
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Login</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" ng-required="true" ng-model="userdetails.login">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Account Level</label>
                                        <div class="col-md-9">
                                            <select class="form-control" disabled name="mySelect" id="mySelect"
                                                    ng-options="option.name for option in data.availableOptions track by option.id"
                                                    ng-model="data.selectedOption"></select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Trainer</label>
                                        <div class="col-md-9">
                                            <select class="form-control" name="mySelect" id="mySelect"
                                                    ng-options="(trainer.firstName + ' ' + trainer.lastName) for trainer in trainers track by trainer.id"
                                                    ng-model="trainers[0]"></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- ADD HORSE PANEL START-->
                            <div class="panel panel-default panel-hovered panel-stacked mb20">
                                <div class="panel-heading">Client Horses</div>
                                    <div class="panel-body">
                                        <div class="col-xs-10 col-xs-offset-1 panel panel-default panel-hovered panel-stacked mt10">
                                        <div class="panel-heading">Add Horse</div>
                                        <div class="panel-body">
                                        <!--<div role="form" class="form-horizontal"> &lt;!&ndash; form horizontal acts as a row &ndash;&gt;-->
                                        <!-- Name control -->
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Name</label>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control" id="horseName" ng-required="false" ng-model="horse.name">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Breed</label>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control" id="horseBreed" ng-required="false" ng-model="horse.breed">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                        <label class="col-md-3 control-label">USEF#</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" ng-required="false" ng-model="horse.usef">
                                        </div>
                                    </div>
                                            <div class="clearfix right">
                                                <button class="btn btn-primary mr5"  ng-click="addHorse()" id="horseUsef">Add Horse</button>
                                            </div>
                                        </div>
                                    </div>
                                        <!-- HORSE TABLE START-->
                                        <div class="col-xs-10 col-xs-offset-1 mb20 mt20" ng-if="horses.length > 0">
                                            <!-- HORSE TABLE-->
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <!-- Invoice Start -->
                                                    <div class="invoice-wrap">

                                                        <!-- invoice table -->
                                                        <table class="table table-bordered invoice-table mb20">
                                                            <thead class="bg-success">
                                                            <tr>
                                                                <th class="panel-primary">Name</th>
                                                                <th>Breed</th>
                                                                <th>USEF#</th>
                                                                <th></th>
                                                            </tr>
                                                            </thead>

                                                            <tbody>
                                                            <tr ng-repeat="horse in horses">
                                                                <td>{{horse.name}}
                                                                </td>
                                                                <td>{{horse.breed}}
                                                                </td>
                                                                <td>{{horse.usef}}
                                                                </td>
                                                                <td>
                                                                    <button type="button" class="btn btn-danger ion ion-trash-a" md-ink-ripple="" ng-click="deleteFilteredItem(horse.$$hashKey, horses)">
                                                                        <div class="md-ripple-container"></div>
                                                                        Remove Horse
                                                                    </button>
                                                                </td>

                                                            </tr>

                                                            </tbody>
                                                        </table>
                                                        <!-- #end invoice table -->
                                                    </div>
                                                </div>
                                            </div> <!-- #end row -->

                                            <!-- END HORSE TABLE-->
                                        </div>
                                        <!-- HORSE TABLE END -->
                                </div>


                            </div>
                            <!-- ADD HORSE PANEL END -->


                            <div class="clearfix right">
                                <button class="btn btn-primary mr5" type="submit" ng-click="createClient($event)">Submit</button>
                                <button class="btn btn-default" ng-click="clear()" type="reset">Cancel</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>

        </div>


        <div class="modal fade" id="responseModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="modalTitle" style="font-weight: bold;">{{modalTitle}}</h4>
                    </div>
                    <div class="modal-body" id="modalMessage">
                        <p>{{modalMessage</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Ok</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>


    </div> <!-- #end page-wrap -->
</div>
